ul.buttons {
  margin: 0;
  padding: 0;
}
ul.buttons li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul.buttons li a {
  display: inline-block;
  text-decoration: none;
  margin: 0 5px;
  padding: 10px 25px;
  border-radius: 20px;
  overflow: hidden;
  font-weight: 500;
  color: #fff;
  background-color: #03a9f4;
  transition: background-color .4s;
}
ul.buttons li a:hover, ul.buttons li a:active {
  background-color: #027dc0;
}
ul.buttons.small li a {
  margin: 0 2.5px;
  padding: 5px 12.5px;
  font-size: 0.94em;
}


/* nav buttons */
header nav {
  position: fixed;
  top: 0;
  right: 1px;
}
header nav ul.buttons li {
  vertical-align: top;
}
header nav ul.buttons li a {
  border-radius: 0 0 20px 20px;
  margin: 0 0.5px;
  top: 0;
  vertical-align: bottom;
  min-height: 0;
}
