@import url("buttons.css");
@import url("layout.css");

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-snap-type: mandatory;
  background: #ececec;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1,h2,h3,header small {
  font-family: 'Titillium Web', sans-serif;
  margin: auto;
  font-weight: 200;
}
h1 {
  font-size: 2.5em;
  margin: 40px 0 0 0;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-weight: 600;
  margin: 10px 0;
}
header small {
  font-size: 1em;
}

section p, section ul.list, section ul.buttons {
  font-weight: 300;
  margin: 10px 0;
}
p.lang {
  font-weight: 500;
  font-size: 0.875em;
}
