@import url("buttons.css");
@import url("layout.css");
@import url("bg.css");

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/** {
  transition: all 1s;
}*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  max-width: 1560px;
  margin: auto;
  scroll-snap-type: mandatory;
}

header {
  text-align: center;
  margin-bottom: 20px;
}
h1,h2,h3 {
  font-family: 'Titillium Web', sans-serif;
  margin: auto;
  font-weight: 200;
}
h1 {
  font-size: 40px;
  margin: 20px 0;
}
h2 {
  font-size: 44px;
}
h3 {
  font-weight: 600;
  margin: 10px 0;
}

main {
  scroll-snap-type: mandatory;
}

section p, section ul.list, section ul.buttons {
  font-weight: 300;
  margin: 10px 0;
}
p.lang {
  font-weight: 500;
  font-size: 14px;
}
